.network-page {
  width: 1300px;
  margin: 15px auto;
  display: flex;
}

.network-left {
  width: 75%;
  margin: 10px 0;
}

.network-right {
  width: 25%;
  margin: 10px;
}

/*---- Network Card ----*/
.connection-card {
  max-width: 300px;
}

.network-card-top .job-card-top-right {
  margin-right: 15px;
}

.network-card-top {
  display: flex;
  justify-content: start !important;
}

/*--- Network Right ---*/

/*--Network Details --*/
.network-details-card {
  padding-top: 10px;
}

.network-details-card .network-details-title {
  font-weight: 600;
}

.network-details-card .network-details-title,
.network-details-card .network-details-item {
  padding: 15px;
}

.network-details-card .network-details-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgba(170, 170, 170, 0.267);
  font-size: 13px;
  color: #90999d;
}

.network-details-card .network-details-item i {
  margin-right: 6px;
}

.network-details-card .network-details-item .details-num {
  font-weight: 700;
  color: rgb(29, 29, 29);
}

/*=== Network Requists ===*/

.all-connection-requiests .accepted-requiests {
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding: 10px;
  color: #808080;
}

.all-connection-requiests .accepted-requiests .imgs {
  display: flex;
  margin-right: 10px;
}

.all-connection-requiests .accepted-requiests .imgs img {
  width: 22px;
  height: 22px;
  border: 2px solid #fff;
  margin: 0 0 0 -9px;
  border-radius: 50%;
  cursor: pointer;
}

.connection-requiests {
  display: flex;
  flex-direction: column;
}

.connection-requiests .connection-requiest {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  /* border-top: 1px solid rgba(146, 146, 146, 0.2); */
}

.connection-requiests .connection-requiest .connection-requiest-left {
  display: flex;
}

.connection-requiest-left img {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border: 2px solid #fff;
  border-radius: 50%;
  margin-right: 10px;
}

.connection-requiest-left
  .connection-requiest-left-details
  .connection-requiest-headline {
  font-size: 14px;
  color: #808080;
}

.connection-requiest-btns {
  display: flex;
}

.connection-requiest-btns .connection-requiest-btn {
  padding: 4px 10px;
  font-weight: 500;
  margin-left: 10px;
  background-color: #fff;
}

.connection-requiest-btns .accept-btn {
  color: var(--blue);
  border: 2px solid var(--blue);
  cursor: pointer;
  border-radius: 5px;
}

.connection-requiest-btns .accept-btn:hover {
  background-color: rgba(126, 199, 252, 0.2);
}

.connection-requiest-btns .reject-btn:hover {
  background-color: rgba(205, 205, 205, 0.2);
}

.connection-requiest-btns .reject-btn {
  color: rgba(66, 66, 66, 0.6);
  border: 2px solid rgba(66, 66, 66, 0.6);
  cursor: pointer;
  border-radius: 5px;
}
