body {
  margin: 0;
  font-family: var(--font-family-sans-serif);
  background-color: #edf2f6;
  overflow-x: hidden;
}

/*--- 404 ---*/
.page-not-found-page {
  width: 100vw;
  height: 92vh;
  background-color: white;
}

.pnf-main {
  width: 1300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding: 110px 10px;
}

.pnf-main .pnf-title {
  color: #007bff;
  display: block;
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 10px;
}

.pnf-main .pnf-text {
  color: #888da8;
  font-size: 22px;
  display: block;
  margin-bottom: 30px;
}

.pnf-main .back-btn {
  padding: 6px 13px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}

.pnf-main img {
  width: 50%;
}

/*==== Scrollbar ====*/

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: #ffff;
  border-left: 1px solid hsl(0, 0%, 93%);
}

body::-webkit-scrollbar-thumb {
  background: #e2e3e3a7;
  border: 2px solid #ffff;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
  background: hsl(0, 0%, 70%);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: #e2e3e3a7;
  border-radius: 10px;
}

.text-overflow-ellipsis {
  display: -webkit-box;           /* Use Flexbox to create multi-line ellipsis */
  -webkit-line-clamp: 2;          /* Show only 2 lines of text */
  -webkit-box-orient: vertical;   /* Orient the box vertically */
  overflow: hidden;               /* Hide the overflow text */
  text-overflow: ellipsis;        /* Show ellipsis (...) for overflow */
  white-space: normal;            /* Allow the text to wrap */
}